$footer_height: 10vh;
$footer_social_height: $footer_height * 0.8;

.footer {
    background-color: beige;
    width: 100%;
    height: $footer_height;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-family: 'Major Mono Display', monospace;
    border-top: solid 2px black;

    
    

    .footer_socials {
        display: block;
        position: relative;
        float: left;
        margin-left: 1em;

        width: auto;
        a {
            text-decoration: none;
            img{
                height: $footer_social_height;
                width: $footer_social_height;
            }
        }
    }
    
    .footer_p {
        position: relative;        
    }

    .footer_contact {
    display: flex; 
    border-left: solid black 1px;
    height: $footer_height;

    
        .contact_button {
            display: block;
            text-align: center;
            border: none;
            width: 15vw;
            cursor: pointer;
            background-color: black;
            color: white;
        }
        .contact_button:hover {
            background-color: pink;
            color: black;

        }
    }
}