/*Variables*/
$background:rgb(0, 0, 0);

@import './nav';
@import './hero';
@import './carousel';
@import './footer';
@import './resume';

body {
    background-color: $background;
}

.sendEthButton{
    top: 60vh;
    background-color: white;
    position: relative;
    width: 297px;
    height: 49px;
    margin: 20px;
    background-size: 100%;
    background-image: url('/public/image/metamask-off.png');
    cursor: pointer;
  }

  .enableEthereumButton{
    position: relative;
    top:40vh;
  }



    